<script id="models-list-template" type="text/template">
	<h1><%= schema.collectionName %> <a class="new-btn button" href="<%= window.rootURL %>/collections/<%= schema.collectionSlug %>/new">New</a>

		<input class="delete-btn" type="submit" name="delete" value="Delete" action="<%= window.host %>/api/schema/<%= schema.collectionSlug %>">
	</h1>

	<ul class="models">
		<%
		if(data.length === 0){
		%>
			<p>No models created yet. Perhaps you want to click <a href="<%= window.rootURL %>/collections/<%= schema.collectionSlug %>/new">here</a> to create a new model?</p>
		<%
		}else{
			_.each(data, function(el, i){
		%>
				<a href="/collections/<%= schema.collectionSlug %>/<%= el._uid %>"><li class="model card">
					<span class="model-id"><%= el._uid %></span>
					<span class="created-by">Created by: <%= el._metadata.created_by %></span>
					<span class="date-created">Date created: <%= el._metadata.date_created %></span>
					<span class="date-modified">Last modified: <%= el._metadata.date_modified %></span>
				</li></a>
		<%
			});
		}
		%>
	</ul>
</script>