@import "./mixins.less";

* {
	box-sizing: border-box;
}

body{
	.body-font();
}

a{
	text-decoration: none;
	color: inherit;

	&:hover{
		text-decoration: none;
	}

	&:visited{
		color: inherit;
	}
}

button, input[type="submit"]{
	height: 1.9rem;
	padding: 0.45rem 1.2rem;
	min-width: 90px;
	border-radius: 25px;
	box-shadow: none;
	border: none;
	background-color: #ddd;

	&:hover{
		background-color: darken(#ddd, 20%);
	}

	&.delete-button{
		color: #fff;
		background-color: #d00;

		&:hover{
			background-color: darken(#d00, 10%);
		}
	}
}