.body-font(){
	font-size: 18px;
}

.caption-font(){
	font-size: 14px;
}

.title-font(){
	font-size: 30px;
	font-weight: bold;
}

.subtitle-font(){
	font-size: 20px;
	font-weight: bold;
}

.unstyled-list(){
	list-style: none;
	margin: 0;
	padding: 0;
}

.unpadded-list(){
	padding-left: 20px;
}

.list-item(){
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;

	.collection-name{
		flex-grow: 2;
	}

	button{
		margin-left: 0.5rem;
	}
}

.simple-form-styles(){
	.form-items{
		margin-bottom: 1rem;

		label{
			display: inline-block;
			min-width: 170px;
		}

		input{
			display: inline-block;
			width: 500px;
		}
	}
}